@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-size{
    background-size: 100% 100%;
}
.move-image{
    animation: 20s infinite linear moveCompanies;
}

@keyframes moveCompanies {
    0%{
        top:0;
    }
    100%{
        top: -100%;
    }
}